<?xml version="1.0"?>
<!--
@copyright  Copyright (c) 2023 Digital Hub (https://digitalhub.com.br)
@author     Dev Team <devteam@digitalhub.com.br>
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="salesrule_rule_condition_combine">
        <observer name="dh_rule_condition_combine"
                  instance="DigitalHub\RuleByDevice\Observer\RuleConditionCombineObserver"/>
    </event>
</config>
